*{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

a{
    color: black;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F7F7F7;
}

header{
    display: flex;
    justify-content: center;
    height: 65px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    background-color: white;
}

header .logoheader{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logoheader img{
    width: 45%;
}

.section-localisation{
    background-color: #EAEAEA;
}

.localisation{
    display: flex;
    justify-content: center;
    align-items: center;
}

.localisation p{
    margin-left: 15px;
}

.localisation i{
    color: #353535;
}

.section-explorer{
    text-align: center;
    padding: 50px;
}

.section-explorer h2{
    margin: 0px;
    font-size: 24px;
}

.section-explorer p{
    font-weight: 300;
    font-size: 18px;
    margin-top: 5px;
}

.btn-explorer{
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border-style: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    padding: 10px;
    opacity: 1;
    transform: scale(1);
    transition: 200ms;
}

.btn-explorer:hover{
    box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.25);
    opacity: 0.9;
}

.section-explorer a{
    margin: 5px;
    padding: 15px;
}

.section-fonctionnement{
    background-color: white;
    padding: 20px;
}

.numero{
    position: absolute;
    left: -10px;

    border-radius: 15px;
    background-color: #9356DC;
    width: 22px;
    height: 22px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
}

.etapes{
background: #F7F7F7;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
border-radius: 20px;

display: flex;
justify-content: space-evenly;
align-items: center;
cursor: pointer;

margin: 30px;
margin-left: 10px;

position: relative;
}

.etapes i{
    color: #7E7E7E;
}

.etapes:hover i{
    color: #9356DC;
}

.section-restaurants{
    background-color: rgb(246, 246, 246);
    padding: 20px;
}

.section-restaurants .bloc-resto{
    display: flex;
    flex-direction: column;
}

.section-restaurants .images-resto img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.section-restaurants .card-resto{
    margin-top: 20px;
    position: relative;
}

.card-texte{
    margin-left: 15px;
}

.card-content{
    position: relative;
}

.card .card-coeur{
   position: absolute;
   top: 25px;
   right: 25px;
   font-size: 23px;
}

.card .coeur-rempli{
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 23px;
    opacity: 0;
    color: transparent;
}

.coeur-rempli:hover{
    opacity: 1;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    -webkit-background-clip: text;
    transition: 300ms;
}

.section-restaurants .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;

    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    height: 100%;
}

.section-restaurants .new{
    background: #99E2D0;
    color: #008766;;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 2px;

    display: flex;
    justify-content: center;
    padding: 5px;
    width: 80px;

    position: absolute;
    top: 20px;
    right: 15px;
}

footer{
    background-color: #353535;
    padding: 30px;
}

footer .text-footer{
    color: white;
    display: flex;
    align-items: center;
    line-height: 0;
}

.text-footer i{
    margin-right: 10px;
}

.logofooter{
    font-family: 'Shrikhand', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.bloc-footer{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

/*** Restaurants ***/

header a{
    font-size: 25px;
    position: absolute;
    top: 15px;
    left: 25px;
}

.img-la-palette-un img{
    width: 100%;
    height: 310px;
    object-fit: cover;
}

.img-la-palette img{
    width: 100%;
    object-fit: cover;
}

.img-la-palette{
position: relative;
}

.main-resto{
position: relative;
top: -50px;
border-top-right-radius: 50px;
border-top-left-radius: 50px;
background-color: #F7F7F7;
}

.menu{
    margin-top: 50px;
}

.section-menu{
    padding: 0;
}

.section-menu h2{
font-size: 17px;    
margin-left: 15px;
font-weight: 300;
}

.header-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-menu h1{
    font-family: 'Shrikhand';
    font-size: 28px;
    font-weight: 400;
}

.header-menu i{
    font-size: 28px;
}

.menu h2{
    position: relative;
}

.border::after{
    content: '';
    position: absolute;
    background-color: #99E2D0;
    height: 3px;
    width: 40px;
    margin-top: -15px;
    margin-left: 15px;
}

.contenu-card h3{
    font-weight: 700;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px;
}

.contenu-card p{
    font-weight: 300;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
}

.contenu-card{
    background: #FFFFFF;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 15px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    line-height: 10px;
    overflow: hidden;
}

.contenu-card-texte{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contenu-card .prix{
    margin-left: auto;
    font-weight: 700;
    font-size: 17px;
}

.commander{
    padding: 40px;
}

.btn-commander{
background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 25px;
color: white;
font-size: 20px;

margin: auto;
padding: 20px;

width: 60%;
display: flex;
justify-content: center;
opacity: 1;
transform: scale(1);
transition: 200ms;
}

.btn-commander:hover{
opacity: 0.9;
box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.25);
}



/***** Version Destkop *****/
@media screen and (min-width: 1024px) {

body{
    background-color: white;
}

.main-resto{
    width: 70%;
    margin: 0 auto;
}

.btn-commander{
    width: 180px;
}

br{
    display: none;
}

.section-explorer h2{
    font-size: 40px;
}

.texte-explorer{
    line-height: 2;
}

.section-fonctionnement h2{
    margin-left: 80px;
}

.section-fonctionnement ul{
    display: flex;
    justify-content: space-evenly;
}

.section-fonctionnement .etapes{
    width: 25%;
    height: 60px;
}

.section-restaurants h2{
    margin-left: 80px;
}

.section-restaurants .ligne-un-resto, .ligne-deux-resto{
    display: flex;
    justify-content: space-evenly;
}

.ligne-deux-resto{
    margin-top: 30px;
}

.card-resto{
    width: 500px;
}

footer{
    display: flex;
    flex-direction: row-reverse;
}

.bloc-footer{
   flex-direction: row;
   margin-right: 100px;
}

.logofooter{
    margin-top: 18px;
}

.text-footer{
    margin-left: 20px;
}

.img-la-palette img{
    height: 400px;
    object-fit: cover;
}
   
.header-menu{
    justify-content: center;
}

.header-menu h1{
    margin-right: 25px;
}

.section-menu{
    padding: 100px;
}

}

/**** Animations CSS ****/

@keyframes dot{
    100% {
        transform: translateY(-30px);
    }
}

.dot{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 15px;
    animation: dot infinite 0.3s alternate;
}

.d1{
    background: #9356DC;
}

.d2{
    animation-delay: 0.5s;
    background: #FF79DA;
}

.d3{
    animation-delay: 1s;
    background: #99E2D0;
}

@keyframes loading{
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

.loader{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity 1s ease-in-out;
    animation: loading 300ms;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    transform-origin: top;
}

@keyframes apparition {
   from {
    transform: scale(0);
   }
   to {
    transform: scale(1);
   }
}

.delay1{
    animation: apparition 1s;
}

.delay2{
    animation: apparition 2s;
}

.delay3{
    animation: apparition 3s;
}


.checking{
background: #99E2D0;
border-radius: 0px 15px 15px 0px;
display: flex;
align-items: center;
justify-content: center;
width: 60px;
height: 90px;
color: white;
font-size: 25px;

margin-right: -60px;
margin-left: 20px;

transition: all 0.5s ease-in-out;
}

.contenu-card:hover .checking{
    margin-right: 0px;
}

